@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --title-color: #333;
    --text-color: #57647c;
    --primary-color: #ff4800;
    --bg-color: #fff;
    --title-font: 'Doris';
    --text-font: 'Open Sans';
    --hover-color: #4bc527;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    min-height: 100vh;
    font-family: var(--title-font);
}

